* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
}

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 247, 237, 1);
  align-items: center;
  padding-inline: 5%;
}

nav {
  display: flex;
  gap: 50px;
}

/* HOME PAGE */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('./assets/home-bg.png');
  background-size: cover;
  color: white;
  padding: 45px 23px;
  height: 490px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}
.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 400px;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

/* ABOUT PAGE */

.about-container {
}

.about-image {
  width: 100%;
  height: 200px;
}

.about-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-content h1 {
  line-height: 38px;
}

.about-content p {
  line-height: 22px;
}

.about-cta {
  width: 30%;
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-decoration: none;
}
