* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
}

header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 247, 237, 1);
  align-items: center;
  padding-inline: 5%;
  font-weight: 600;
}

a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  font-size: large;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 50px;
}

/* HOME PAGE */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('./assets/home-bg.png');
  background-size: cover;
  background-position-y: 29%;
  color: white;
  padding: 45px 23px;
  height: 530px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}
.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 400px;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

/* ABOUT PAGE */

/* .about-container {
} */

.about-image {
  aspect-ratio: 1108/200;
  /* width: 20%; */
  height: 300px;
}

.about-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-content h1 {
  line-height: 38px;
}

.about-content p {
  line-height: 22px;
}

.about-cta {
  width: 30%;
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-decoration: none;
}

/* VAN PAGE */

.van-list-container {
  width: 20%;
}

.vanImg {
  width: 50%;
}

/* HOST VANS */

.host-van-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* align-items: center; */
  /* border: red solid 2px; */
}
.host-van-container > h1 {
  padding-inline: 25%;
}

.host-van-single {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-inline: 30px;
  gap: 20px;
  margin: auto;
  width: 50%;
  height: 150px;
  background-color: white;
  border-radius: 8px;
}

.host-van-single > img {
  object-fit: fill;
  max-width: 130px;
  max-height: 117px;
  border-radius: 5px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  height: 75px;
  color: rgba(170, 170, 170, 1);
  background-color: rgba(37, 37, 37, 1);
}
